html,
body{
   margin: 0;
   font-family: 'Poppins', sans-serif;
   background-color:#5290e1;
}

#wrapper div,#wrapper h2{
    display:flex;
    justify-content: center;
    
}

h2{
    color:#ffeba7;
    letter-spacing: 1px;
}
select{
    border-radius: 2px;
    border: 2px solid rgb(101, 27, 222) ;
    margin-top:30px;
    height:5em;
    width:30em;
    padding-left:10px;
}
.input{
    border-radius: px;
    border: 1px solid rgba(19, 215, 97, 0.28) ;
    margin-top:30px;
    height:5em;
    width:30em;
    padding-left:10px;

}
label{
    color: white;
    margin: auto;
}




input:active{
    border:none;
}
#wrapper{
    height:400px;
    width:400px;
    margin:200px auto;
    background-color:#1f2029;
    border-radius:10px;
    padding:30px;
}

button{
    margin-top:20px;
    background-color:#ffeba7;
    border-radius: 4px;
    height: 44px;
    font-weight: 600;
    padding: 0 30px;
    letter-spacing: 1px;
    border: none;
    background-color: #ffeba7;
    color: #102770;
}

button:hover{
    cursor:pointer;
}
#result{
    color:white;
    margin-top:20px;
    font-size:32px;
}